@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body {
            background: black; !important;
        }
        .text-default {
            color: white; !important;
            font-size: large; !important;
        }
        .text-defaultt {
            color: white;
            !important;
            font-size: x-large;
            !important;
        }
    </style>
</head>

<div class="header">
    <title >EasierChair</title>
</div>

<div class="container-fluid" style="background-color:black;">
    <div class="header">
        <header class="text-defaultt">EasierChair</header>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-6" style="background-color:black;">
            <p class="text-default"><br /><br />EasierChair is a conference management system that is flexible, easy to use, and has many features to make it suitable for various conference models. It is currently probably the most commonly used conference management system.</p>
        </div>
        <div class="col-sm-9 col-md-6" style="background-color:black;">
            <img class="img-responsive" src="/Media/conference1.jpg" alt="Conf1" style="background-color:black; border:double">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-6" style="background-color:black;">
            <p class="text-default"><br /><br />Our users include top conferences in several areas, for example, in World Wide Web and in Bioinformatics. Our users range from small workshops with around 10 submissions to big conferences having thousands of submissions.</p>
        </div>
        <div class="col-sm-9 col-md-6" style="background-color:black;">
            <img class="img-responsive" src="/Media/conference2.jpg" alt="Conf2" style="background-color:black; border:double">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-6" style="background-color:black;">
            <p class="text-default"><br /><br />The first version of EasyChair was implemented in 2002. It was used by 12 conferences in 2002-2004 and by 66 conferences in 2005. We believe that since 2006 we have become number one conference management system in the number of conferences, users and submissions.</p>
        </div>
        <div class="col-sm-9 col-md-6" style="background-color:black;">
            <img class="img-responsive" src="/Media/conferencelast.jpg" alt="Conf3" style="background-color:black; border:double">
            <br />
        </div>
    </div>
</div>